<h1>All Applications</h1><br>

<div class="row">
  <div class="col-md-8">
    <% @applications.each do |application| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <p><%= link_to application.name, application %></p>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "New Application", new_application_path, class: 'btn btn-success' %>
  </div>
</div>
